.section {
    background-color: white;
    border-bottom: #f2f2f2 solid 5px;
}

.section__header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: #f2f2f2 solid 2px;
    margin: 0px;
}

@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    margin: 0;
    padding: 10px;
    border-bottom: none;
}