
.list {
    background-color: white;
    margin: 0px;
    padding: 10px;
    list-style-type: none;
}
.list__item {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid #ddd;
    align-self: center;
    grid-gap: 10px;
}

.list__item--hidden {
    display: none;
}

.list__taskDone {
    text-decoration: line-through;
}

.list__taskContent {
    background-color: white;
    margin: 0px;
    padding: 10px;
    list-style-type: none;
}

.list__button {
    display: grid;
    align-self: center;
    height: 30px;
    width: 30px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor:pointer;
    transition: background-color 1000ms;
}

.list__button--clearButton {
    padding: 6px 5px 5px 4px;
    background-color: hsl(0, 80%, 31%);

}

.list__button--clearButton:hover {
    background-color: hsl(0, 80%, 38%);
}

.list__button--clearButton:active {
    background-color: hsl(0, 80%, 47%);
}

.list__button--toggleStatusButton {
    padding: 5px;
    background-color: hsl(103, 80%, 30%);
}

.list__button--toggleStatusButton:hover {
    background-color: hsl(103, 80%, 40%);
}

.list__button--toggleStatusButton:active {
    background-color: hsl(103, 80%, 45%);
}